@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

html, body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 1.05rem;
}

#logo {
    width: 70px;
    height: 70px;
}

.i {
    font-style: italic;
}

.c {
    color: #E33C3A;
}

.r {
    border-radius: 30%;
}

.bg {
    background-color: #2C2F33;
}

.input {
    /* width: unset; */
    padding: 0.375rem 0.75rem;
    font-size: 1.35rem;
}
.input:focus, .btn:focus, .btn-sm:focus {
    outline: none;
    box-shadow: none;
}

a {
    text-decoration: unset;
}

.btn, select, .pointer {
    font-size: 1.35rem;
    cursor: pointer;
}

#usymbol, .a {
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#username, .b {
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form-select {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

@media (max-width: 1120px) { 
    #mbody {
        flex-wrap: wrap;
    }
    .card {
        width: initial!important;
    }
}
@media (max-width: 990px) { 
    .card {
        width: 100%!important;
    }
}